<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contact & Support</title>
</head>
<body>
	<div th:fragment="content">
		<div class="contact-container">
			<h2>Contact & Support</h2>
			<p>If you have any issues or suggestions, feel free to reach out.</p>
			<div class="contact-info">
				<p>
					<strong>Email:</strong> <a href="mailto:lalamanilbabu@gmail.com">lalamanilbabu@gmail.com</a>
				</p>
				<p>
					<strong>Phone:</strong> +1 (341) 356-4818
				</p>
				<p>
					<strong>Address:</strong> 4207 Parkview ln, Alpharetta, GA
				</p>
			</div>

		</div>


	</div>

</body>
</html>